body{
	font-family: 'supermarketregular', 'supermarketregular';
	font-size: 150%;
}
table th{
    text-align: center;
}
table td{
    text-align: center;
}
#tablehead {
    background-color: white;
}
table tr:nth-child(even){
    background-color: rgb(189, 234, 255);
}
table tr:nth-child(odd){
    background-color: rgb(252, 236, 237);
}
h1{
    display: inline-block;
}
