<!DOCTYPE html>
<html >
<head>
    <title>บึงบัว</title>
    <meta charset="utf-8">
    <meta name="viewport" >
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/login.css" rel="stylesheet">
    <link rel="icon" href="../images/favicon.ico" type="image/ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</head>

<body class="backgroud">
    <div class="picture">
        <center>
            <img src="../picture/not.png" style="width:320px;margin-bottom: 2%; ">
            <p style="font-size:150%">ADMIN ชุมชนบึงบัว</p>
        </center>
    </div>
        <form class="" >
                <div class="form-group">
                    <label class="control-label col-md-5 col-sm-5 col-xs-12" for="username" style="text-align:right; padding:5px;font-size: 120%;">
                        USERNAME  :
                    </label>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <input type="text" class="form-control" required="" autofocus="">
                    </div>
                </div>
                <br><br><br>
                <div class="form-group">
                    <label class="control-label col-md-5 col-sm-5 col-xs-12" for="password" style="text-align:right; padding:5px;font-size: 120%;">
                        PASSWORD  :
                    </label>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <input type="text" class="form-control" required="" autofocus="">
                    </div>
                </div>
                <br><br>
            <center>
                <button class=" btn-lg btn-success btn-block" type="submit" style="margin-top:10px;width: 12%">LOGIN</button>
            </center>
        </form>
</body>
<!--<footer class="container-fluid text-center">
    <p>Footer Text</p>
</footer>
</html>