<!DOCTYPE html>
<html>

<head>
    <title>บึงบัว</title>
    <meta charset="utf-8">
    <meta name="viewport">
    <!-- Bootstrap -->
    <link href="../../admin/assets/option/vendors//bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="../../admin/assets/option/build/css/custom.min.css" rel="stylesheet">
    <!-- edit css by tasto -->
    <link href="../../admin/assets/css/login.css" rel="stylesheet">

</head>

<body class="backgroud body">
    <div class="picture">
        <center>
            <img src="../../admin/assets/images/image-not-found.png" style="width:320px;margin-bottom: 2%;margin-top: 5%; ">
            <p style="font-size:150%">ADMIN ชุมชนบึงบัว</p>
        </center>
    </div>
    <form class="">
        <div class="form-group">
            <label class="control-label col-md-5 col-sm-5 col-xs-12" for="username" style="text-align:right; padding:8px;font-size: 120%;">
                USERNAME :
            </label>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <input type="text" class="form-control" required="" autofocus="" style="border-radius:10px;">
            </div>
        </div>
        <br><br><br>
        <div class="form-group">
            <label class="control-label col-md-5 col-sm-5 col-xs-12" for="password" style="text-align:right; padding:8px;font-size: 120%;">
                PASSWORD :
            </label>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <input type="text" class="form-control" required="" autofocus="" style="border-radius:10px;">
            </div>
        </div>
        <br><br>
        <center>
            <button class=" btn-lg btn-success btn-block" type="submit" style="margin-top:10px;width: 12%">LOGIN</button>
        </center>
    </form>
</body>

</html>