body{
    font-family: 'supermarketregular', 'supermarketregular';
    font-size: 150%;
}
.h4, h4 {
    font-size: 22px;
}
testtttt{
    color:#ACADAC;
}

.nav-md .container.body .col-md-3.left_col {
    min-height: 100%;
    width: 230px;
    padding: 0;
    position: fixed;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
}

.nav-sm .container.body .col-md-3.left_col {
    min-height: 100%;
    width: 70px;
    padding: 0;
    z-index: 9999;
    position: fixed;
}


#headtext{
    text-align: center;
    color: black;
    font-size: 250%;
}


.nav_menu {
    float: left;
    background: #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
}
@media (min-width: 768px){
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-left: 20px;
} }

.table {
    width: 80%;
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 40px;
    background-color: #eaeaea;
    border-radius: 15px ;
    text-align: center;
}
.table3 {
    width: 80%;
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 40px;
    background-color: #0142f9;
    border-radius: 15px ;
    text-align: center;
    color: #ffffff;
    border-right:solid 2px #000;
}
.tablenew{
    width: 100%;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color :#b0d5ff;
    color: #000000;
    border: none;
  }
  .table-hover2 tbody tr:hover td, .table-hover2 tbody tr:hover th {
    background-color :#ffff66;
    color: #ff0000;
    border: none;
  }
  .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #ddd;
  }
  table.display thead th {
    padding: 8px 18px 8px 10px;
    border-bottom: 0px solid #000;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
}
.headtable{
    text-align: center;
    border-bottom-width: 3px;
}
#headname{
    font-size: 100%;
}
.dropdown {
    display: inline-block;
    
}
.pic{
    border: 0;
    height: 100%;
    width: 80%;
    background-color: #ffffff;
}
.site_title {
    font-weight: 400;
    font-size: 22px;
    width: 100%;
    line-height: 59px;
    display: block;
    height: 55px;
    padding-left: 0px;
    padding-bottom: 150px;
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
    text-align: center;
}
.btn-success {
    background: rgb(149, 226, 245);
    border: 1px solid #169F85; 
    margin-right: 0px;
    margin-bottom: 0px;
    width: 100%;
    margin-top: 10px;
}

.btn-danger{
    background-color: #cf2b26;
    border-color: #cf2b26;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 100%;
    margin-top: 10px;
}
.btn-primary{
    background-color: #286090;
    border-color: #286090;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 100%;
    margin-top: 10px;
}
.btn-warning{
    background-color: rgb(233, 152, 1);
    border-color: rgb(233, 152, 1);
    margin-right: 0px;
    margin-bottom: 0px;
    width: 100%;
    margin-top: 10px;
}
.btn-success2 {
    background: rgb(35, 185, 158);
    border: 1px solid #169F85; 
    margin-right: 0px;
    margin-bottom: 0px;
    width: 60%;
    margin-top: 10px;
}

.btn-danger2{
    background-color: #dd403a;
    border-color: #cf2b26;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 60%;
    margin-top: 10px;
}
.btn-primary2{
    background-color: #3f81bb;
    border-color: #286090;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 60%;
    margin-top: 10px;
}
.btn-warning2{
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: rgb(236, 171, 49);
    border-color: rgb(233, 152, 1);
    width: 60%;
    margin-top: 10px;
}
.x_panel {
    width: 100%;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 0px solid #E6E9ED; 
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease;
}
.required{
    color: red;
}
.form-group .btn {
    margin-bottom: -6px;
    width: 30%;
}
#textlist{
    text-align: left;
    padding-left: 30px;
}
#success{
    color: #ffffff;
    border-radius: 5px ;
    font-size: 100%;
    padding-top: 5px;
    background-color: rgb(35, 185, 158);
    padding-bottom: 5px;
    margin-bottom: 0px;
}
#warning{
    color: #ffffff;
    border-radius: 5px ;
    font-size: 100%;
    padding-top: 5px;
    background-color: #FDD21E;
    padding-bottom: 5px;
    margin-bottom: 0px;
    
}
#danger{
    color: #ffffff;
    border-radius: 5px ;
    font-size: 100%;
    padding-top: 5px;
    background-color: #dd403a;
    padding-bottom: 5px;
    margin-bottom: 0px;
}
#dark{
    color: rgb(234, 237, 241);
    border-radius: 5px ;
    font-size: 100%;
    padding-top: 5px;
    background-color: #2A3F54;
    padding-bottom: 5px;
    margin-bottom: 0px;
}
#success2{
    color: #ffffff;
    border-radius: 5px ;
    font-size: 100%;
    padding-top: 5px;
    background-color: rgb(35, 185, 158);
    padding-bottom: 5px;
    margin-bottom: 0px;
    width: 30%;
    float: center;
}
#warning2{
    color: #ffffff;
    border-radius: 5px ;
    font-size: 100%;
    padding-top: 5px;
    background-color: #FDD21E;
    padding-bottom: 5px;
    margin-bottom: 0px;
    width: 30%;
    
}
#danger2{
    color: #ffffff;
    border-radius: 5px ;
    font-size: 100%;
    padding-top: 5px;
    background-color: #dd403a;
    padding-bottom: 5px;
    margin-bottom: 0px;
    width: 30%;
}
.buttonshow{
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
}
.test{
    font-size: 150%;
}
.fontcolor{
    color: #000;
    background-color: #ffffff;
    border-bottom: solid 1px #000; 
    border-top:solid 1px #000;
    border-left: solid 1px #000;
    border-right:solid 1px #000;
}
.use{
    background-color: #f2f2f2;
    border-bottom: solid 1px #000; 
    border-top:solid 1px #000;
    border-left: solid 1px #000;
    border-right:solid 1px #000;
}
.tol{
    background-color: #d9e1f2;
    border-bottom: solid 1px #000; 
    border-top:solid 1px #000;
    border-left: solid 1px #000;
    border-right:solid 1px #000;
}
.seq{
    border-bottom: solid 1px #000; 
    border-top:solid 1px #000;
    border-left: solid 2px #000;
    border-right:solid 2px #000;
    width: 2%;
}
.first_name{
    border-bottom: solid 1px #000; 
    border-top:solid 1px #000;
    border-left: solid 1px #000;
    border-right:solid 1px #000;
    width: 20%;
}
.sid{
    border-bottom: solid 1px #000; 
    border-top:solid 1px #000;
    border-left: solid 2px #000;
    border-right:solid 1px #000;
}
.exi{
    width: 5%;
}
.sick{
    width: 5%;
}
.summer{
    width: 5%;
}
.more{
    width: 5%;
}
@media (max-width: 991px){
    .nav-md .container.body .col-md-3.left_col {
        min-height: 100%;
        width: 230px;
        padding: 0;
        position: absolute;
        display: -ms-flexbox;
        display: none;
        z-index: 1;
    }}
strong{
    font-size: 100%;
}
#tableabout{
    text-align: left;
}
#butt{
    color: #ffffff;
    border-radius: 5px ;
    font-size: 100%;
    background-color: #FDD21E;
    margin-bottom: 0px;
    border-color:  #FDD21E;
}
#butt2{
    color: #ffffff;
    border-radius: 5px ;
    font-size: 100%;
    background-color: #dd403a;
    margin-bottom: 0px;
    border-color:  #dd403a;
}